/* task2 a */
* {
    font-family : sans-serif;
}

/* task3 a b c */
p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

/* task4 a b */

h1 {
    font-size: 64px;
    color: #1F3F68;
}