/* task2 a */
body {
    font-family : sans-serif;
}

/* task3 a b c */
.par {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

/* task4 a b */
h1 {
    font-size: 64px;
    color: #1F3F68;
}

/* task5 a b c */
.class_h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

/* task6 a b */
.class_h3 {
    font-size: 36px;
    text-align: center;
}

/* task7 a b c*/
.class_h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

/* task8 a b c d */
.inpux_text {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

/* task9 */
.butt {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}




